* {
   background-color: transparent;
   text-color: {{ .root.colors.gui.main.foreground }};
   padding: 0px;
   border-radius: {{ .root.misc.border_rounding }}px;
}

window {
   background-color: {{ .root.colors.gui.main.background }}7d;
   border-color: {{ .root.colors.gui.main.primary }};
   padding: 10px;
   location: center;
   width: 25%;
   border: {{ .root.misc.border_size }}px;
}
