* {
    text-color: #eaeaf0;
    background-color: transparent;
}

window {
    location: center;
    width: 36%;
    
    border-radius: 5px;

    padding: 15px 0px 15px 15px;  

    border: 3px;
    border-color: #AD5295FF;

    padding: 0px;
}

mainbox {
    background-color: #2123377d;
    border-radius: 5px;
    padding: 0px;
}

listview {
    padding: 5px;

    spacing: 5px;
	 columns: 2;
}

inputbar {
    padding: 0px;
    
    background-image: url("~/.config/rofi/bg.png");
    background-position: south;
    padding: 10px 0px 10px 10px;    
}

element {
    padding: 6px;
    border-radius: 5px;
}

element selected {
    background-color: #1586DFFF;
}

element-icon {
    size: 20px;
}
