* {
   background-color: transparent;
   text-color: #FFEFDF;
   padding: 0px;
   border-radius: 15px;
}

window {
   background-color: #5F485C7d;
   border-color: #FDAE96;
   padding: 10px;
   location: center;
   width: 25%;
   border: 3px;
}
