* {
   background-color: transparent;
   text-color: #F9F5F4;
   padding: 0px;
   border-radius: 8px;
}

window {
   background-color: #1827287d;
   border-color: #CAD277;
   padding: 10px;
   location: center;
   width: 25%;
   border: 3px;
}
