* {
   background-color: transparent;
   text-color: {{ .root.colors.gui.main.foreground }};
   padding: 0px;
   border-radius: {{ .root.decoration.border_radius }}px;
}

window {
   background-color: none;
   location: center;
   width: 30%;
}

mainbox {
   spacing: 15px;

   children: [ inputbar, listview, message ];
}

textbox-prompt-colon {
   background-image: linear-gradient(45deg,{{ .root.colors.gui.main.primary }},{{ .root.colors.gui.main.secondary }});
   text-color: {{ .root.colors.gui.main.foreground }};
   padding: 5px 20px;
   expand: false;
   str: "";
}

inputbar {
   background-image: url("~/.config/rofi/bg.png", none);
   padding: 10px;
   border-color: {{ .root.colors.gui.main.primary }};
   border: {{ .root.decoration.border_size }}px;

   children: [ "textbox-prompt-colon", "entry" ];
}

entry {
   placeholder-color: {{ .root.colors.gui.main.foreground }};
   padding: 0px 10px;
   vertical-align: 0.5;
   placeholder: "Search...";
   border-radius: 0px;
}

listview {
   background-color: {{ .root.colors.gui.main.background }}7d;
   border-color: {{ .root.colors.gui.main.secondary }};
   padding: 3px;
   lines: 8;
   columns: 1;
   fixed-columns: true;
   border: {{ .root.decoration.border_size }}px;
}

element {
   padding: 7px;
}

element selected {
   background-image: linear-gradient(45deg, {{ .root.colors.gui.main.primary }}, {{ .root.colors.gui.main.secondary }});
   border-radius: {{ sub (conv.ToInt64 .root.decoration.border_radius) 3 }}px;
}

element-icon {
   padding: 5px;
   size: {{ .root.font.rofi.icon_size }}px;
}

element-text {
   padding: 5px;
   vertical-align: 0.5;
   font: "{{ .root.font.rofi.family }} {{ .root.font.rofi.size }}";
}

textbox-current-entry, message, error-message {
   background-color: {{ .root.colors.gui.main.background }}7d;
   border-color: {{ .root.colors.gui.main.secondary }};
   padding: 10px 15px;
   horizontal-align: 0.5;
   border: {{ .root.decoration.border_size }}px;
}
