{{- $background_rgba := printf "rgba(%s, 0.7)" (hex2rgb .root.colors.gui.main.background | strings.TrimSpace) -}}
{{- $secondary_rgba := printf "rgba(%s, 0.7)" (hex2rgb .root.colors.gui.main.secondary | strings.TrimSpace) -}}

* {
   font-family: "{{ .root.font.waybar.family }}";
   font-size: {{ .root.font.waybar.size }}px;
   border-radius: {{ .root.decoration.border_radius }}px;

   box-shadow: none;
   outline: none;
   border: none;
   text-shadow: 1px 1px 0 {{ .root.colors.gui.extra.color0 }};
}

#waybar {
   background: {{ $background_rgba }};
   border-top: {{ .root.decoration.border_size }}px solid {{ $secondary_rgba }};
   border-bottom: {{ add .root.decoration.border_size 1 }}px solid {{ $secondary_rgba }};
   border-left: {{ .root.decoration.border_size }}px solid {{ $secondary_rgba }};
   border-right: {{ .root.decoration.border_size }}px solid {{ $secondary_rgba }};
}
/* Waybar shadow */
window#waybar > box {
    border-bottom: 0.5px solid {{ .root.colors.gui.extra.color0 }};
    border-right: 0.5px solid {{ .root.colors.gui.extra.color0 }};
}


/* Left modules */
#custom-start, #workspaces button, #tray {
   color: {{ .root.colors.gui.main.foreground }};
   padding: 0px 12px;
}

#custom-start {
   padding: 0px 20px;
}

#custom-start:hover, #workspaces button:hover, #workspaces button.active, #workspaces button.active:hover, #tray:hover {
   color: {{ .root.colors.gui.main.background }};
   background: linear-gradient(125deg, {{ .root.colors.gui.main.primary }}, {{ .root.colors.gui.main.secondary }});
  
   transition: none;
   animation: none;
}

#workspaces button.active {
   font-weight: bold;
   color: {{ .root.colors.gui.main.foreground }};
}

#workspaces button label, #workspaces button:hover label, #workspaces button.active:hover label {
   text-shadow: none;
}


/* Center modules */
#custom-cava {
   color: {{ .root.colors.gui.main.foreground }};
   padding: 0px 9px;
}


/* Right modules */
#custom-power-profiles.performance {
   color: {{ .root.colors.gui.extra.color9 }};
}
#custom-power-profiles.balanced {
   color: {{ .root.colors.gui.main.foreground }};
}
#custom-power-profiles.power-saver {
   color: {{ .root.colors.gui.extra.color2 }};
}

#bluetooth.connected {
   color: {{ .root.colors.gui.main.foreground }};
}
#bluetooth.disabled {
   color: {{ .root.colors.gui.main.foreground }};
}
#bluetooth.discoverable {
   color: {{ .root.colors.gui.main.foreground }};
}
#bluetooth.pairable {
   color: {{ .root.colors.gui.main.foreground }};
}

#pulseaudio.muted {
   color: {{ .root.colors.gui.extra.color9 }};
}

#network.wifi {
   color: {{ .root.colors.gui.extra.color12 }};
}
#network.ethernet {
   color: {{ .root.colors.gui.extra.color11 }};
}
#network.disconnected {
   color: {{ .root.colors.gui.extra.color9 }};
}
#network.linked {
   color: {{ .root.colors.gui.extra.color4 }};
}

#custom-power-profiles, #bluetooth, #pulseaudio, #network {
   color: {{ .root.colors.gui.main.foreground }};
   padding: 0px 9px;
}

#custom-power-profiles:hover, #bluetooth:hover, #pulseaudio:hover, #network:hover, #clock:hover, #battery:hover {
   color: {{ .root.colors.gui.main.background }};
   text-shadow: none;
   background: linear-gradient(125deg, {{ .root.colors.gui.main.primary }}, {{ .root.colors.gui.main.secondary }});
}

#tray menu menuitem label {
   text-shadow: none;
}

#clock, #battery {
   color: {{ .root.colors.gui.main.foreground }};
   padding: 0px 15px;
}

#custom-start, #clock {
   font-weight: bold;
   background: linear-gradient(125deg, {{ .root.colors.gui.main.primary }}, {{ .root.colors.gui.main.secondary }});
   text-shadow: none;
}
