/* Theme: Galaxy */
/* Colors */

@define-color background #221B56;
@define-color foreground #E1FAFA;
@define-color primary    #EF7DAE;
@define-color secondary  #A586DB;
@define-color neutral    #535996;

#waybar {
  background: rgba(34, 27, 86, 0.7); /* background color */
  border-top: 3px solid rgba(165, 124, 219, 0.7); /* secondary color */
  border-bottom: 3px solid rgba(165, 124, 219, 0.7); /* secondary color */
  border-left: 3px solid rgba(165, 124, 219, 0.7); /* secondary color */
  border-right: 3px solid rgba(98, 124, 219, 0.7); /* secondary color */
}

