* {
   background-color: transparent;
   text-color: #E1FAFA;
   padding: 0px;
   border-radius: 15px;
}

window {
   background-color: none;
   location: center;
   width: 30%;
}

mainbox {
   spacing: 15px;

   children: [ message, listview ];
}

listview {
   background-color: #221B567d;
   border-color: #EF7DAE;
   padding: 3px;
   lines: 1;
   columns: 3;
   border: 3px;
   horizontal-align: 0.5;
}

element {
   padding: 7px;
}

element selected {
   background-image: linear-gradient(45deg, #EF7DAE, #A586DB);
   border-radius: 12px;
}

element-icon {
   padding: 5px;
   size: 30px;
}

element-text {
   padding: 5px;
   vertical-align: 0.5;
   font: "MartianMono Nerd Font 12";
}

textbox-current-entry, message {
   background-color: #221B567d;
   border-color: #A586DB;
   padding: 20px 15px;
   horizontal-align: 0.5;
   border: 3px;
}
