configuration {
   modi: "drun,run";
   font: "{{ .root.font.rofi.family }} {{ .root.font.rofi.size }}";
   drun-display-format: "{name}";
   location: 0;

   kb-row-up: "Alt+k,Up";
   kb-row-down: "Alt+j,Down";
   kb-row-left: "Alt+h";
   kb-row-right: "Alt+l";
}

