@import "colors.css";

* {
  font-family: "MartianMono Nerd Font Mono";
  font-weight: normal;
  font-size: 13px;
}

#workspaces button, #tray, #bluetooth, #pulseaudio, #network, #clock, #battery {
  color: white;
  margin: 0 4px;
}

#workspaces button.active {
  color: white;
  background-color: #AD5295;
  
  transition-property: background-color;
  transition-duration: .1s;
}

#tray:hover {
  color: white;
  background-color: #724596;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .1s;
  padding: 0px 10px;
}

#workspaces button:hover {
  color: white;
  background-color: #AD5295;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .1s;
  padding: 0px 10px;
}

#bluetooth:hover, #pulseaudio:hover, #network:hover, #clock:hover, #battery:hover {
  color: white;
  background-color: #3E3996;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .1s;
}

window#waybar {
  background-color: @bg;
  margin: 10px 20px;
  border-radius: 5px;
  background: rgba(30, 30, 6, 0.9);
  padding: 6px;
}


